.vacancy {
  &__list {
    min-height: 630px;
    height: fit-content;
    margin-bottom: 40px;
  }
  &__text-empty {
    margin-top: 40px;
    text-align: center;
  }
  &__pagination {
    margin-bottom: 40px;
  }
}
