@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: $main-color;
}

input {
  caret-color: $blue-500-main;
}

.mantine-Pagination-control[data-active] {
  background-color: $blue-500-main;
}

.mantine-Pagination-control:not([data-disabled]):hover,
.mantine-Pagination-control[data-active]:not([data-disabled]):hover {
  background-color: $blue-400;
  color: $white;
}

.mantine-Pagination-control:hover:not(:disabled) svg path {
  stroke: $white;
  fill: $white;
}

.mantine-Select-item:hover {
  background-color: $blue-100;
}

.mantine-Button-root {
  background-color: $blue-500-main;
  &:hover {
    background-color: $blue-400;
  }
  &:active {
    background-color: $blue-600;
  }
}

.mantine-Button-label {
  color: $white;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.mantine-ActionIcon-root {
  &:hover {
    background: none;
  }
  &:active {
    background: none;
  }
}

.mantine-ActionIcon-root > p {
  color: $grey-500;
  &:hover {
    color: $blue-400;
  }
  &:active {
    color: $blue-500-main;
  }
}

.mantine-NumberInput-control {
  border: none;
}

.mantine-NumberInput-controlUp:hover,
.mantine-NumberInput-controlDown:hover {
  background: none !important;
}

.mantine-NumberInput-input:hover ~ .mantine-NumberInput-rightSection svg,
.mantine-Select-input:hover ~ .mantine-Input-rightSection svg,
// .mantine-Input-rightSection svg:hover,
.mantine-NumberInput-controlUp svg:hover,
.mantine-NumberInput-controlDown svg:hover {
  stroke: $blue-400;
}

.mantine-NumberInput-input:focus ~ .mantine-NumberInput-rightSection svg,
.mantine-Select-input:focus ~ .mantine-Input-rightSection svg,
// .mantine-Input-rightSection svg:active,
.mantine-NumberInput-controlUp svg:active,
.mantine-NumberInput-controlDown svg:active {
  stroke: $blue-500-main;
}
