@import "../../style/variables.scss";


.vacancy {
  &__description {
    padding: 24px;
    position: relative;
    // list-style-type: none;
    border: 1px solid $grey-200;
    border-radius: 8px;
    // margin-bottom: 16px;
    // a{text-decoration: none;}
  }
}
