@import "../../style/variables.scss";

.vacancy__description {
  padding: 24px;
  position: relative;
  border: 1px solid $grey-200;
  border-radius: 8px;
}

.vacancy__header ~ .vacancy__description {
  margin-top: 20px;
}
