@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $main-color;
}

ul,
li{
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.mantine-Button-root {
  background-color: $blue-500-main;
  height: 32px;
  &:hover {
    background-color: $blue-400;
  }
  &:active {
    background-color: $blue-600;
  }
}
.mantine-Button-label {
  color: $white;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.mantine-ActionIcon-root {
  &:hover {
    background: none;
  }
  &:active {
    background: none;
  }
}

.mantine-ActionIcon-root > svg {
  stroke: $grey-500;
  &:hover {
    stroke: $blue-400;
  }
  &:active {
    stroke: $blue-500-main;
    fill: $blue-500-main;
  }
}

.mantine-ActionIcon-root > p {
  color: $grey-500;
  &:hover {
    color: $blue-400;
  }
  &:active {
    color: $blue-500-main;
  }
}

.mantine-NumberInput-control {
  border: none;
}

.mantine-NumberInput-controlUp:hover,
.mantine-NumberInput-controlDown:hover {
  background: none !important;
}

.mantine-NumberInput-input:hover ~ .mantine-NumberInput-rightSection svg,
.mantine-Select-input:hover ~ .mantine-Input-rightSection svg,
// .mantine-Input-rightSection svg:hover,
.mantine-NumberInput-controlUp svg:hover,
.mantine-NumberInput-controlDown svg:hover {
  stroke: $blue-400;
}
.mantine-NumberInput-input:focus ~ .mantine-NumberInput-rightSection svg,
.mantine-Select-input:focus ~ .mantine-Input-rightSection svg,
// .mantine-Input-rightSection svg:active,
.mantine-NumberInput-controlUp svg:active,
.mantine-NumberInput-controlDown svg:active {
  stroke: $blue-500-main;
}
