@import "../../styles/variables.scss";

.vacancy {
  &__header {
    padding: 24px;
    position: relative;
    border: 1px solid $grey-200;
    border-radius: 8px;
  }
  &__title {
    color: $blue-500-main;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 0 24px 12px 0;
  }
  &__text-firm {
    line-height: 24px;
    margin: 0 0 12px 0;
    padding: 0;
  }
  &__text-salary {
    display: inline-block;
    font-weight: 600;
    margin: 0 0 12px 0;
    padding: 0;
  }
  &__text-employment {
    display: inline-block;
    margin: 0 0 12px 0;
    padding: 0;
  }
  &__text-dot {
    color: $grey-600;
    display: inline;
    margin: 0;
    padding: 0 12px;
  }
  &__text-location {
    vertical-align: middle;
    line-height: 20px;
    margin: 0;
    padding: 0;
  }
  &__text-location svg {
    vertical-align: middle;
    margin-right: 10px;
    stroke: $grey-500;
  }
}

@media screen and (max-width: 479px) {
  .vacancy {
    &__text-salary {
      display: block;
    }
    &__text-dot {
      padding: 0 15px 0 6px;
    }
  }
}
