@import "../../styles/variables.scss";

.page404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.page404 img {
  display: block;
  width: fit-content;
  max-width: 100%;
}
.page404 p {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
}
.page404 a {
  display: block;
  padding: 10px 24px;
  gap: 10px;
  text-decoration: none;
  font-size: 14px;
  line-height: 155%;
  font-weight: 600;
  border-radius: 8px;
  color: $blue-500-main;
  background: $blue-100;
  &:hover {
    text-decoration: none;
    background: $grey-100;
    color: $blue-400;
  }
}
