@import "../../style/variables.scss";

.search {
  margin-bottom: 16px;
  &__form {
    max-width: 100%;
    position: relative;
  }
  &__input-component {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__input-icon {
    position: absolute;
    color: $grey-500;
    width: 16px;
    height: 16px;
    left: 12px;
  }
  &__input {
    height: 48px;
    width: 100%;
    padding-left: 36px;
    padding-right: 100px;
    border: 1px solid $grey-200;
    border-radius: 8px;
    text-overflow: ellipsis;
  }
  &__btn {
    width: 83px;
    height: 32px;
    padding: 4px 20px;
    border: none;
    position: absolute;
    top: 8px;
    right: 12px;
  }
}
